.wrap {
  padding: 80px 70px;
  box-sizing: border-box;
  background-color: var(--ifm-background-color);
  max-width: var(--global-main-width);
  margin: 0 auto;

  overflow: hidden;
  .gTitle {
    font-size: 40px;
    font-weight: bold;
  }
  .listWrap {
    margin-top: 23px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 32px;
    a {
      width: 100%;
      .item {
        height: 100%;
        border: 1px solid var(--box-border-color); 
        box-sizing: border-box;
        padding: 35px 23px;
        border-radius: var(--normal-box-radius);
        cursor: pointer;
        margin-bottom: 0;
        &:hover {
          transform: scale(1.05);
          box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 12px,
           rgba(0, 0, 0, 0.12) 0px -12px 30px,
            rgba(0, 0, 0, 0.12) 0px 4px 6px,
             rgba(0, 0, 0, 0.17) 0px 12px 13px,
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
          // border: 1px solid var(--box-hover-border-color);
          // background: var(--active-color);
          // .title {
          //   color: white;
          //   a {
          //     &:hover {
          //       color: white;
          //     }
          //   }
          // }
          // .author {
          //   color: white;
          //   .portrait {
          //     border-color: white;
          //   }
          // }
          // .content {
          //   color: white;
          // }
        }
        .title {
          font-size: 20px;
          font-weight: 500;
          line-height: 26px;
          color: black;
        }
        .author {
          color: black;
          line-height: 20px;
          margin-top: 19px;

          .portrait {
            width: 20px;
            height: 20px;
            border: 1px solid var(--portrait-border-color);
            border-radius: 50%;
            &:not(:last-of-type) {
              margin-right: 2px;
            }
          }

          &.singleAuthor {
            .nameLogo {
              display: flex;
              align-items: center;
            }
            .portrait {
              margin-right: 5px;
            }
          }
          &.multiAuthor {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    padding: 80px var(--mobile-padding-width);

    .listWrap {
      display: grid;
      grid-template-columns: auto auto;
      a {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 768px) {
    height: auto;
    padding: 0;
    margin-top: 40px;
    .gTitle {
      font-size: 30px;
      text-align: center;
    }
    .listWrap {
      padding: 0 var(--mobile-padding-width);
      grid-template-columns: auto;
      gap: 32px;

      .item {
        margin: 0 auto;
        width: 100%;
        height: auto;

        .title {
          font-size: 16px !important;
          line-height: 1 !important;
        }
        .author {
          line-height: 1 !important;
        }
      }
    }
  }
}
