.wrap {
    background-color:var(--ifm-color-primary);
    padding-top: 62px;
    padding-bottom: 62px;
    z-index: 2;

    .content {
      display: flex;
      align-items: center;
      max-width: var(--global-main-width);
      margin: 0 auto;
      &:hover{
        * {
          text-decoration: none;
        }
      }
      .left {
        flex-grow: 0;
        width:50%;
        // height: 500px;
        .imageleft {
          // display: flex;
          // justify-content: center;
          // align-items: center;
          img {
            display: block;
            margin: 0 auto;
            // display: flex;
            // justify-content: center; /* Canh giữa theo chiều ngang */
            // align-items: center;
           
          }
        }
          
        .text {
          font-size: 40px;
          font-weight: 700;
          width: 100%;
          line-height: 56px;
          color: black;
          margin-top: 10px;
          display: inline-block;
          text-align: center;
        }
        .description {
          font-size: 30px;
          // font-weight: 700;
          width: 100%;
          line-height: 56px;
          color: black;
          margin-top: 10px;
          display: inline-block;
          text-align: center;
        }
      }
  
      .right {
        display: grid;
        grid-template-columns: auto;
        row-gap: 32px;
  
        flex-grow: 0;
        width: 40%;
        flex-shrink: 0;
  
        .item {
          border: 1px solid var(--box-border-color); 
          padding: 24px;
          box-sizing: border-box;
          border-radius: 10px;
          cursor: pointer;
          height: 300px;
          &:hover {
            transform: scale(1.1);
            box-shadow: rgba(255, 255, 255, 0.25) 0px 12px 12px,
             rgba(255, 255, 255, 0.12) 0px -12px 30px,
              rgba(255, 255, 255, 0.12) 0px 4px 6px,
               rgba(255, 255, 255, 0.17) 0px 12px 13px,
                rgba(255, 255, 255, 0.09) 0px -3px 5px;
          }
          img {
            height: 100px;
            width: 100px;
          }
          .title {
            font-size: 32px;
            font-weight: 500;
            line-height: 26px;
            margin: 17px 0 20px 0;
            color: white;
          }
          .desc {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  
    @media screen and (max-width: 1024px) {
      padding-top: 0;
      width: 100%;
      height: auto;
      display: block;
  
      .content {
        width: 100%;
        flex-direction: column;
        padding: 0 var(--mobile-padding-width);
        box-sizing: border-box;
        .left {
          width: 100%;
          margin-bottom: 38px;
          img {
            width: 70%;
            height: auto;
          }
          .text {
            width: 100%;
          }
        }
        .right {
          width: 70%;
  
          .item {
            height: auto !important;
  
            img {
              height: auto;
              max-width: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  
    @media screen and (max-width: 768px) {
      .content {
        .left {
          .text {
            font-size: 30px;
            line-height: 1;
          }
        }
        .right {
          .item {
            .title {
              font-size: 20px;
            }
          }
        }
      }
    }
  }