/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  vertical-align: bottom;
  text-align:  left ;
  position: relative;
  overflow: hidden;
  background: url('/img/background_2.jpg') no-repeat;
  background-color: #eceaea;
  background-size: 100%, auto;
  height: 1400px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.button {
  background-color: rgb(255, 255, 255);
}
.button:hover{
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 12px,
   rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
     rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
}