.wrap {
  padding: 80px 70px;
  box-sizing: border-box;
  background-color: rgb(3, 5, 19);
  max-width: var(--global-main-width);
  margin:  auto;
  // background-image: url("/img/open-book.png");
  overflow: hidden;
  z-index: 2;
  .gTitle {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  .listWrap {
    margin-top: 23px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    
    a {
      width: 100%;
      .item {
        background-color: white;
        height: 100%;
        border: 1px solid var(--box-border-color); 
        box-sizing: border-box;
        padding: 14px 14px;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 0;
        &:hover {
          transform: scale(1.05);
          box-shadow: rgba(255, 255, 255, 0.25) 0px 12px 12px,
          rgba(255, 255, 255, 0.12) 0px -12px 30px,
           rgba(255, 255, 255, 0.12) 0px 4px 6px,
            rgba(255, 255, 255, 0.17) 0px 12px 13px,
             rgba(255, 255, 255, 0.09) 0px -3px 5px;
          // border: 1px solid var(--box-hover-border-color);
          // background: var(--active-color);
          // .title {
          //   color: white;
          //   a {
          //     &:hover {
          //       color: white;
          //     }
          //   }
          // }
          // .author {
          //   color: white;
          //   .portrait {
          //     border-color: white;
          //   }
          // }
          // .content {
          //   color: white;
          // }
        }
        .title {
          font-size: 20px;
          font-weight: 500;
          line-height: 26px;
          color: var(--ifm-color-primary);
        }
        .author {
          color: var(--ifm-color-primary);
          line-height: 20px;
          margin-top: 19px;
          margin-bottom: 5px;
          // padding-bottom: 5px;
          .portrait {
            width: 40px;
            height: 40px;
            border: 1px solid var(--portrait-border-color);
            border-radius: 50%;
            &:not(:last-of-type) {
              margin-right: 2px;
            }
          }

          &.singleAuthor {
            .nameLogo {
              display: flex;
              align-items: center;
            }
            .portrait {
              margin-right: 5px;
            }
          }
          &.multiAuthor {
            display: flex;
            align-items: center;
          }
        }
      }
    }

  }
  
  @media screen and (max-width: 1024px) {
    padding: 80px var(--mobile-padding-width);

    .listWrap {
      display: grid;
      grid-template-columns: auto auto;
      a {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 768px) {
    height: auto;
    padding: 0;
    // margin-top: 40px;
    .gTitle {
      font-size: 40px;
      text-align: center;
    }
    .listWrap {
      padding: 0 var(--mobile-padding-width);
      grid-template-columns: auto;
      gap: 32px;

      .item {
        margin: 0 auto;
        width: 70%;
        height: auto;

        .title {
          font-size: 16px !important;
          line-height: 1 !important;
        }
        .author {
          line-height: 1 !important;
        }
      }
    }
  }
}

.button {
  margin-top: 20px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 20px;
  &:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 12px,
     rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
       rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}

.fireEmoji {
  display: inline-block;
  animation: tiltFire 2s ease-in-out infinite alternate;
}

@keyframes tiltFire {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.authorItem {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 12px;
}