.wrap {
    // background-color:var(--ifm-color-primary);
    background: rgba(0, 0, 0, 0.1);
    // background-color:  #ffffff;
    // background-image: url("/img/boost/roadmap.png");
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    padding-top: 62px;
    padding-bottom: 62px;
    z-index: 2;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: var(--global-main-width);
      margin: 100px auto;
      &:hover{
        * {
          text-decoration: none;
        }
      }
      .maincontent {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
  
        display: block;
        margin: 0 auto;
        text-align: center;
        .imagetitle {
          width: 30%;
          height: 30%;
          margin: 0 auto;  /* Thêm margin auto để căn giữa */
          display: flex;   /* Sử dụng flexbox */
          justify-content: center; /* Căn giữa theo chiều ngang */
        }
        .imagedesc {
          width: 30%;
          margin: 0 auto;  /* Thêm margin auto để căn giữa */
          display: flex;   /* Sử dụng flexbox */
          justify-content: center; /* Căn giữa theo chiều ngang */
        }
        .title {
          // font-family: 'Consolas', monospace;
          font-size: 40px;
          font-weight: bold;
          line-height: 26px;
          color: gray;
          // text-shadow: rgb(59, 18, 241) 0px 4px 15px;
        }
        .desc {
          margin-top: 50px;
          font-size: 24px;
          font-weight: 400;
          line-height: 20px;
          text-align: center;
          // font-family: 'Consolas', monospace;

          color: gray;
          text-decoration: none;

        }
        .button {
          margin-top: 30px;
          // background-color: rgba(0, 0, 0, 0.5);
          color: var(--ifm-color-primary);
          // text-transform: uppercase;
          border: 3px solid var(--ifm-color-primary);
          border-radius: 5px;
          &:hover{
            transform: scale(1.05);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 12px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(0, 0, 0, 0.17) 0px 12px 13px,
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
          
          }
        } 
      }
    }
    @media screen and (max-width: 1440px) {
      padding-top: 0;
      width: 100%;
      .content {
        padding: 0 40px;
       
      }
    }
  
    @media screen and (max-width: 768px) {
      padding-top: 0;
      .content {
        padding: 0 var(--mobile-padding-width);
        .maincontent {
          .imagetitle {
            width: 80%;
            height: 80%;
          }
          .imagedesc {
            width: 20%;
            height: 20%;
          }
          .desc {
            font-size: 16px;
          }
          .button {
            font-size: 16px;
          }
        }
      }
    }
  
    // @media screen and (max-width: 768px) {
    //   .content {
    //     .right {
    //       .text {
    //         font-size: 40px;
    //         line-height: 1;
    //       }
    //     }
    //     .left {
    //       .item {
            
    //         .title {
    //           font-size: 40px;
    //           text-align: center;
    //           margin-top: 20px;
    //         }
    //         .desc{
    //           font-size: 20px;
    //         }
    //       }
    //     }
    //   }
    // }
  }

.pulseHeart {
  display: inline-block;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.banner_filter{
  top: 0;
  left: 0;
  width: 100%;
  min-height: 95vh;
  background: linear-gradient(250.73deg, rgba(40, 14, 102, 0.5) 12.73%, var(--ifm-color-primary) 96.49%);
  opacity: 0.5;
  position: absolute;
  z-index: 2;
}