.wrap {
    background-color:var(--ifm-color-primary);
    padding-top: 62px;
    padding-bottom: 62px;
    z-index: 2;

    .content {
      display: flex;
      align-items: center;
      max-width: var(--global-main-width);
      margin: 0 auto;
      &:hover{
        * {
          text-decoration: none;
        }
      }
      
  
      .left {
        display: grid;
        grid-template-columns: auto;
        row-gap: 32px;
  
        flex-grow: 0;
        width: 50%;
        flex-shrink: 0;
  
        .item {
          display: block;
          margin: 0 auto;
          .title {
            // font-family: Be Vietnam Pro,sans-serif;
            font-size: 40px;
            font-weight: bold;
            line-height: 26px;
            margin: 17px 0 20px 0;
            color: white;
            // text-shadow: rgb(59, 18, 241) 0px 4px 15px;
          }
          .desc {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: white;
            text-decoration: none;
          }
          .desc {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: white;
            text-decoration: none;
          }
          .button {
            // margin-top: 20px;
            background-color: white;
            color: black;
            text-transform: uppercase;
            border: 1px solid black;
            border-radius: 20px;
            &:hover{
              transform: scale(1.05);
              box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 12px,
               rgba(0, 0, 0, 0.12) 0px -12px 30px,
                rgba(0, 0, 0, 0.12) 0px 4px 6px,
                 rgba(0, 0, 0, 0.17) 0px 12px 13px,
                  rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }
          } 
        }
      }
      .right {
        flex-grow: 0;
        width:50%;
        // height: 500px;
        .imageright {
          // display: flex;
          // justify-content: center;
          // align-items: center;
          img {
            display: block;
            margin: 0 auto;
            max-width: 70%;
            max-height: 70%;
            // display: flex;
            // justify-content: center; /* Canh giữa theo chiều ngang */
            // align-items: center;
           
          }
        }
          
        .text {
          font-size: 40px;
          font-weight: 700;
          width: 100%;
          line-height: 56px;
          color: black;
          margin-top: 10px;
          display: inline-block;
          text-align: center;
        }
        .description {
          font-size: 30px;
          // font-weight: 700;
          width: 100%;
          line-height: 56px;
          color: black;
          margin-top: 10px;
          display: inline-block;
          text-align: center;
        }
      }
    }
  
    @media screen and (max-width: 1024px) {
      padding-top: 0;
      width: 100%;
      height: auto;
      display: block;
  
      .content {
        width: 100%;
        flex-direction: column;
        padding: 0 var(--mobile-padding-width);
        box-sizing: border-box;
        
        .left {
          width: 70%;
          
          .item {
            height: auto !important;
            
            img {
              height: auto;
              max-width: 100%;
              width: 100%;
            }
          }
        }
        .right {
          width: 70%;
          margin-bottom: 38px;
          img {
            width: 70%;
            height: auto;
          }
          .text {
            width: 100%;
          }
        }
      }
    }
  
    @media screen and (max-width: 768px) {
      .content {
        .left {
          .item {
            .title {
              text-align: center;
              font-size: 40px;
              line-height: 1;
            }
          }
        }
        .right {
          .text {
            font-size: 40px;
            line-height: 1;
          }
        }
      }
    }
  }